# General imports
pandas==3.0.1
matplotlib==3.10.0
numpy==2.4.3

# Data Understanding and Preparation
beautifulsoup4==4.12.3
ftfy==6.3.1
geopandas==1.1.3
iso3166==2.1.1

# Modeling
codecarbon==3.2.6
ollama==0.6.2

# Evaluation
scikit-learn==1.6.1